{% extends 'ArtePCMSPublicBundle:TBProductionCost:layout.html.twig' %}
{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}
    <header>
        <h1>TBProductionCost 編集</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">TBProductionCost 編集</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('cost') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
            </ul>
        </div>
        <form action="{{ path('cost_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} name="cost_edit_form">

            <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.ProjectCostMasterId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.ProjectCostMasterId) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.ProjectCostMasterId) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.ProjectCostMasterId.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.SystemUserId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.SystemUserId) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.SystemUserId) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.SystemUserId.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.WorkDate) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.WorkDate) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.WorkDate) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.WorkDate.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.Cost) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.Cost) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.Cost) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.Cost.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.Note) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.Note) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.Note) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.Note.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.DeleteFlag) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.DeleteFlag) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.DeleteFlag) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.DeleteFlag.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.TBProjectCostMasterProjectCostMasterId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.TBProjectCostMasterProjectCostMasterId) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.TBProjectCostMasterProjectCostMasterId) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.TBProjectCostMasterProjectCostMasterId.vars.name }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">{{ form_label(form.TBProductionCost.TBSystemUserSystemUserId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.TBProductionCost.TBSystemUserSystemUserId) }}
                            </div>
                            {{ form_widget(form.TBProductionCost.TBSystemUserSystemUserId) }}
                            <br/>
                            <span class="input_notes">{{ form.TBProductionCost.TBSystemUserSystemUserId.vars.name }}</span>
                        </td>
                    </tr>
            </table>
            <div class="submit_box">
                {% if mode == 'input' %}
                <input type="button" onclick="postConfirm()" value="確認" style="width:100px;"/>
                {% elseif mode == 'confirm' %}
                <input type="button" onclick="postBack()" value="戻る"/>
                <input type="button" onclick="postSubmit()" value="登録" style="width:100px;"/>
                {% endif %}
            </div>

            {{ form_widget(form.subform.buttonAction) }}
            {{ form_widget(form.subform.returnAddress) }}

        {{ form_end(form) }}

    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        function postConfirm(){
            document.cost_edit_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "confirm";
            document.cost_edit_form.submit();
        }
        function postSubmit(){
            document.cost_edit_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "submit";
            document.cost_edit_form.submit();
        }
        function postBack(){
            document.cost_edit_form["{{ form.subform.buttonAction.vars.full_name }}"].value = "";
            document.cost_edit_form.submit();
        }
        //]]>
    </script>
{% endblock %}
