{% extends "::base.html.twig" %}

{% block title %}ユーザー一覧{% endblock %}

{% block body %}
    <h1>ユーザー一覧</h1>
    <form action="{{ path('list') }}" method="post" {{ form_enctype(form) }} novalidate name="list" id="list">

        {{ pdp_pager_hidden_render(pager) }}

        <div class="search_box">
            {{ form_widget(form.search) }}
            <input type="submit" value="検索">
        </div>

        <table>
            <thead>
            <tr>
                {{ pdp_pager_column_render(pager) }}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.ID }}</td>
                    <td>{{ entity.Active }}</td>
                    <td><a href="{{ path('read', {id: entity.ID, ret: returnUrlParam}) }}">{{ entity.LoginId }}</a></td>
                    <td>{{ entity.DisplayName }}</td>
                    {#<td>{{ entity.DisplayNameKana }}</td>#}
                    {#<td>{{ entity.NickName }}</td>#}
                    <td>{{ entity.MailAddress }}</td>
                    <td>{{ entity.TBDepartmentDepartmentId is null ? "" : entity.TBDepartmentDepartmentId.Name }}</td>
                    <td>{{ entity.LastLoginDatetime is empty ? "" : entity.LastLoginDatetime|date('Y年m月d日') }}</td>
                    {#<td>{{ entity.CreatedDatetime is empty ? "" : entity.CreatedDatetime|date('Y年m月d日') }}</td>#}
                    <td>
                        <a href="{{ path('read', {id: entity.ID, ret: returnUrlParam}) }}">詳細</a>
                        <a href="{{ path('update', {id: entity.ID, ret: returnUrlParam}) }}">編集</a>
                        <a href="{{ path('delete', {id: entity.ID, ret: returnUrlParam}) }}">削除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pdp_pager_selector_render(pager) }}
        {{ pdp_pager_pagesize_render(pager) }}

    </form>
{% endblock %}
