{% extends 'ArtePCMSPublicBundle:TBProjectMaster:layout.html.twig' %}
{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}

        <form action="{{ path('project_new2') }}" novalidate method="post" {{ form_enctype(form) }} name="project_new_form">



            <div>
                {{ form_errors(form.TBProjectMaster.ProjectMasterSub.Name) }}
                {{ form_widget(form.TBProjectMaster.ProjectMasterSub.Name) }}
            </div>

            <input type="submit"/>
        {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
