{% extends 'ArtePCMSAdminBundle:TBSystemUser:layout.html.twig' %}

{% block body -%}
<form action="{{ path('systemuser') }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_list">
    <header>
        <h1>TBSystemUser list type2</h1>
    </header>
    <section class="section">
        <h1 class="caption">検索</h1>


        {{ pdp_pager_hidden_render(pager) }}

        <div class="search_box">

            <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            <table cellspacing="0">
                <tbody>
                    <tr>
                        <th>{{ form_label(form.search.Active) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.search.Active) }}
                            </div>
                            {{ form_widget(form.search.Active) }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.search.LoginId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.search.LoginId) }}
                            </div>
                            {{ form_widget(form.search.LoginId) }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.search.DisplayName) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.search.DisplayName) }}
                            </div>
                            {{ form_widget(form.search.DisplayName) }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.search.MailAddress) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.search.MailAddress) }}
                            </div>
                            {{ form_widget(form.search.MailAddress) }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ form_label(form.search.TBDepartmentDepartmentId) }}</th>
                        <td>
                            <div class="error_validation_inline">
                                {{ form_errors(form.search.TBDepartmentDepartmentId) }}
                            </div>
                            {{ form_widget(form.search.TBDepartmentDepartmentId) }}
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td nowrap>
                            <input class="button_100" type="submit" value="検索">
                            <a href="{{ path('systemuser') }}">条件リセット</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <h1 class="caption"><span id="selectFolderName">一覧</span></h1>

        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home">
                    <a href="{{ path('systemuser_new', {ret: returnUrlParam}) }}">
                        新規作成
                    </a>
                </li>
            </ul>
        </div>
        
        <table class="gridTable" style="width:100%;">
            <thead>
                <tr>

                    {% for header in pager.PagerColumn.Rows %}
                        <th class="mainTh sort_cell">
                            {% if header.Enable %}
                                {% if header.sortSelected %}
                                    {% if header.SortType == 'asc' %}
                                        <a class="sort_asc" href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                            {{ header.label }}
                                        </a>
                                    {% elseif header.SortType == 'desc' %}
                                        <a class="sort_desc" href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                            {{ header.label }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path(pager.LinkRouteName, header.query)|raw }}" >
                                        {{ header.label }}
                                    </a>
                                {% endif %}
                            {% else %}
                                {{ header.label }}
                            {% endif %}
                        </th>
                    {% endfor %}

                    <th class="mainTh function_icon_cell"></th>
                    <th class="mainTh function_icon_cell"></th>
                    <th class="mainTh function_icon_cell"></th>
                </tr>
            </thead>
            <tbody class="evenRows">
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('systemuser_show', { 'id': entity.id, ret: returnUrlParam }) }}">{{ entity.LoginId }}</a></td>
                    <td>{{ entity.Active  ? "有効" : "無効" }}</td>
                    <td>{{ entity.DisplayName }}</td>
                    <td>{{ entity.MailAddress }}</td>
                    <td>{% if entity.LastLoginDatetime %}{{ entity.LastLoginDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.TBDepartmentDepartmentId is null ? "" : entity.TBDepartmentDepartmentId.Name }}</td>

                    <td class="function_icon_cell">
                        <a href="{{ path('systemuser_show', { 'id': entity.id, ret: returnUrlParam }) }}"><img src="{{ asset('bundles/pingdecopongpdpgenerator/img/table.png') }}" width="16" height="16"></a>
                    </td>
                    <td class="function_icon_cell">
                        <a href="{{ path('systemuser_edit', { 'id': entity.id, ret: returnUrlParam }) }}"><img src="{{ asset('bundles/pingdecopongpdpgenerator/img/ico_pencil.png') }}" width="16" height="16"></a>
                    </td>
                    <td class="function_icon_cell">
                        <a href="{{ path('systemuser_delete', { 'id': entity.id, ret: returnUrlParam }) }}"><img src="{{ asset('bundles/pingdecopongpdpgenerator/img/asico_del_bl.png') }}" width="16" height="16" alt="削除"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagerArea clearfix">
            <div class="pagerAreaLeft">
                    <ul class="pager">

                        {% if pager.PagerSelector.PageNo.PrevPageStatus %}
                            <li>
                                <a href="{{ path(pager.LinkRouteName, pager.PagerSelector.PageNo.PrevPageQuery)|raw }}" >前のページ</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="#" >前のページ</a>
                            </li>
                        {% endif %}

                        {% for page in pager.PagerSelector.PageNo.Rows %}

                            {% if page.select %}
                                <li class="nowPage">
                                    <a href="#">{{ page.label }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path(pager.LinkRouteName, page.query)|raw }}" >{{ page.label }}</a>
                                </li>
                            {% endif %}

                        {% endfor %}

                        {% if pager.PagerSelector.PageNo.NextPageStatus %}
                            <li>
                                <a href="{{ path(pager.LinkRouteName, pager.PagerSelector.PageNo.NextPageQuery)|raw }}" >次のページ</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="#" >次のページ</a>
                            </li>
                        {% endif %}

                    </ul>
                    <label>表示件数

                        {{ form_widget(pager.PagerFormView.s.pageSize) }}
                        <script type="text/javascript">
                            //<![CDATA[
                            $('#{{ pager.PagerFormView.s.pageSize.vars.id }}').change(function(){
                                switch($(this).children(':selected').val()){

                                    {% for key, param_list in pager.PageSizeParamList %}

                                    case '{{ key }}':
                                        location.href = "{{ path(pager.LinkRouteName, param_list)|raw }}";
                                        break;

                                    {% endfor %}

                                }
                            });
                            //]]>
                        </script>
                    </label>
            </div>
            <div class="pagerAreaRight">全 {{ pager.AllCount }} 件</div>
        </div>




    </section>
    {{ form_end(form) }}

{% endblock %}
