{% extends 'ArtePCMSAdminBundle::layout.html.twig' %}

{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <section class="section">
        <h1 class="caption">
            <span id="selectFolderName">{{ title }}</span>
        </h1>

        {% if mode == 'input' %}
            <div class="functionListArea">
                <ul class="functionList clearfix">
                    <li class="home"><a href="{{ path('systemuser') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
                </ul>
            </div>
        {% endif %}

        {#<form action="{{ path('systemuser_new') }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_new_form">#}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.Username) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.Username) }}
                        </div>
                            {{ form_widget(form.TBSystemUser.Username) }}
                        <br/>
                    </td>
                </tr>

                {% if type == 'new' %}
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.FormPassword) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.FormPassword) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.FormPassword) }}
                        <br/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.FormPasswordConfirm) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.FormPasswordConfirm) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.FormPasswordConfirm) }}
                        <br/>
                    </td>
                </tr>
                {% else %}
                    {% do form.TBSystemUser.setRendered %}
                    {% do form.TBSystemUser.setRendered %}
                {% endif %}

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.DisplayName) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.DisplayName) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.DisplayName) }}
                        <br/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.DisplayNameKana) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.DisplayNameKana) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.DisplayNameKana) }}
                        <br/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.NickName) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.NickName) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.NickName) }}
                        <br/>
                    </td>
                </tr>

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.TBDepartmentDepartmentId) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.TBDepartmentDepartmentId) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.TBDepartmentDepartmentId) }}
                        <br/>
                    </td>
                </tr>

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.MailAddress) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.MailAddress) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.MailAddress) }}
                        <br/>
                    </td>
                </tr>

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.SystemRoleId) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.SystemRoleId) }}
                        </div>
                            {{ form_widget(form.TBSystemUser.SystemRoleId) }}
                        <br/>
                    </td>
                </tr>

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.Active) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.Active) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.Active) }}
                        <br/>
                    </td>
                </tr>



            </table>

            <div class="submit_box">
                {% if mode == 'input' %}
                    {{ form_widget(form.Confirm) }}
                    {% do form.Return.setRendered %}
                    {% do form.Submit.setRendered %}
                {% elseif mode == 'confirm' %}
                    {% do form.Confirm.setRendered %}
                    {{ form_widget(form.Return) }}
                    {{ form_widget(form.Submit) }}
                {% endif %}
            </div>

            {{ form_end(form) }}



    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
