{% extends 'ArtePCMSAdminBundle::layout.html.twig' %}

{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}

{% block body -%}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <section class="section">
        <h1 class="caption">
            <span id="selectFolderName">{{ title }}</span>
        </h1>

        {% if mode == 'input' %}
            <div class="functionListArea">
                <ul class="functionList clearfix">
                    <li class="home"><a href="{{ path('systemuser_show', { 'id': entity.id }) }}?ret={{ app.request.get('ret')|url_encode() }}">詳細へ戻る</a></li>
                </ul>
            </div>
        {% endif %}

        {#<form action="{{ path('systemuser_new') }}" novalidate method="post" {{ form_enctype(form) }} name="systemuser_new_form">#}
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.Username) }}</th>
                    <td>
                            {{ entity.Username }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.DisplayName) }}</th>
                    <td>
                            {{ entity.DisplayName }}
                    </td>
                </tr>

                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.FormPassword) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.FormPassword) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.FormPassword) }}
                        <br/>
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ form_label(form.TBSystemUser.FormPasswordConfirm) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(form.TBSystemUser.FormPasswordConfirm) }}
                        </div>
                        {{ form_widget(form.TBSystemUser.FormPasswordConfirm) }}
                        <br/>
                    </td>
                </tr>

                {% do form.TBSystemUser.Username.setRendered %}
                {% do form.TBSystemUser.DisplayName.setRendered %}

                {% do form.TBSystemUser.DisplayNameKana.setRendered %}
                {% do form.TBSystemUser.NickName.setRendered %}
                {% do form.TBSystemUser.TBDepartmentDepartmentId.setRendered %}
                {% do form.TBSystemUser.MailAddress.setRendered %}
                {% do form.TBSystemUser.SystemRoleId.setRendered %}
                {% do form.TBSystemUser.Active.setRendered %}

            </table>

            <div class="submit_box">
                {% if mode == 'input' %}
                    {{ form_widget(form.Submit) }}
                    {% do form.Return.setRendered %}
                    {% do form.Confirm.setRendered %}
                {% endif %}
            </div>

            {{ form_end(form) }}



    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[

        //]]>
    </script>
{% endblock %}
