{% extends 'ArtePCMSAdminBundle:TBSystemUser:layout.html.twig' %}

{% block body -%}
    <header>
        <h1>TBSystemUser詳細</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">TBSystemUser詳細</span></h1>
        <div class="functionListArea">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('systemuser') }}?{{ returnUrlParam|raw }}">一覧へもどる</a></li>
                <li class="home"><a href="{{ path('systemuser_edit', { 'id': entity.id }) }}?ret={{ app.request.get('ret')|raw }}">編集</a></li>
                <li class="home"><a href="{{ path('systemuser_delete', { 'id': entity.id }) }}?ret={{ app.request.get('ret')|raw }}">削除</a></li>
            </ul>
        </div>
        <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                <tr>
                    <th scope="row">Id</th>
                        <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th scope="row">ログインID</th>
                        <td>{{ entity.Username }}</td>
                </tr>
                <tr>
                    <th scope="row">ユーザー名</th>
                    <td>{{ entity.DisplayName }}</td>
                </tr>
                <tr>
                    <th scope="row">ユーザ名（カナ）</th>
                    <td>{{ entity.DisplayNameKana }}</td>
                </tr>
                <tr>
                    <th scope="row">略称</th>
                    <td>{{ entity.NickName }}</td>
                </tr>
                <tr>
                    <th scope="row">部署</th>
                    <td>{{ entity.TBDepartmentDepartmentId is null ? "" : entity.TBDepartmentDepartmentId.Name }}</td>
                </tr>
                <tr>
                    <th scope="row">権限</th>
                        <td>{{ entity.SystemRoleId }}</td>
                </tr>
                <tr>
                    <th scope="row">メールアドレス</th>
                        <td>{{ entity.MailAddress }}</td>
                </tr>
                <tr>
                    <th scope="row">有効状態</th>
                    <td>{{ entity.Active  ? "有効" : "無効" }}</td>
                </tr>
                <tr>
                    <th scope="row">最終ログイン日時</th>
                        <td>{% if entity.LastLoginDatetime %}{{ entity.LastLoginDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
        </table>
    </section>

{% endblock %}
