{% extends 'ArtePCMSAdminBundle::layout.html.twig' %}


{% form_theme form 'pingdecopongFormFreezeBundle:Form:form_layout.html.twig' %}


{% block body -%}
    <header>
        <h1>案件編集</h1>
    </header>
    <section class="section">
        <h1 class="caption"><span id="selectFolderName">担当者権限編集</span></h1>

        {% if mode == 'input' %}
        <div class="functionListArea" style="margin: 10px 0;">
            <ul class="functionList clearfix">
                <li class="home"><a href="{{ path('project_show', { 'id': ID }) }}">案件詳細へもどる</a></li>
            </ul>
        </div>
        {% endif %}

        <form action="{{ path('project_worker_edit', { 'id': ID }) }}" novalidate method="post" {{ form_enctype(form) }} name="project_worker_edit">

            <div class="error_validation">
                {{ form_errors(form) }}
            </div>

            {#{{ form_widget(form.WorkerEditForm.Users) }}#}

            {% for value in form.WorkerEditForm.Users.vars.value %}
                <input type="hidden" id="{{ form.WorkerEditForm.Users.vars.id }}" name="{{ form.WorkerEditForm.Users.vars.full_name }}" value="{{ value }}" />
            {% endfor %}
            {% do form.WorkerEditForm.Users.setRendered %}

            <table width="600" border="0" cellpadding="0" cellspacing="0" class="detailTable">
                {% for WorkerEditRoleForm in form.WorkerEdit2Form.WorkerEditRoleForms %}
                <tr>
                    {{ form_widget(WorkerEditRoleForm.Id) }}
                    <th scope="row">{{ _self.get_user_name(WorkerEditRoleForm.Id.vars.value, entities) }}</th>
                    <td>
                        <div class="error_validation_inline">
                            {{ form_errors(WorkerEditRoleForm.Role) }}
                        </div>

                        {{ form_widget(WorkerEditRoleForm.Role) }}

                    </td>
                </tr>
                {% endfor %}
            </table>

            <div class="submit_box">
                {% do form.NextTo2.setRendered %}
                {{ form_widget(form.ReturnTo1) }}
                {{ form_widget(form.Confirm) }}
                {% do form.ReturnTo2.setRendered %}
                {% do form.Submit.setRendered %}
            </div>

        {{ form_end(form) }}

    </section>

{% endblock %}

{#表示名取得#}
{% macro get_user_name(id, entities) %}
    {% for value in entities %}
        {% if value.Id == id %}
            {{ value.DisplayName }}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% block javascripts %}
    <script type="text/javascript">
        //<![CDATA[
        //]]>
    </script>
{% endblock %}
