<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="{{ asset('bundles/pingdecopongpdpgenerator/css/style_2column_layout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/pingdecopongpdpgenerator/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/pingdecopongpdpgenerator/css/style_color_blue.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/pingdecopongpdpgenerator/css/style_layout.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/pingdecopongpdpgenerator/css/style_admin.css') }}" rel="stylesheet" type="text/css">

    <script src="{{ asset('bundles/pingdecopongpdpgenerator/js/jquery-1.10.2.js') }}" ></script>
</head>
<body>
<div id="wrapper">
    <header id="header" class="header clearfix">
        <div class="headerLogoArea">
            <h1 class="headerLogo"><a href="{{ path('project') }}">工数管理システム for Admin</a></h1>
        </div>
        <div class="headerContentsArea">
            <ul class="headerButtonList clearfix">
                <li><a href="#" title="ユーザー情報"><span class="company_name">{{ app.user.TBDepartmentDepartmentId.Name }}</span>{{ app.user.DisplayName }}</a></li>
                <li title="一般画面"><a href="{{ path('public_project_list') }}">一般画面</a></li>
                <li class="home" title="HOME"><a href="{{ path('project') }}"></a></li>
                <li class="logout" title="ログアウト"><a href="{{ path('auth_logout') }}"></a></li>
            </ul>
        </div>
    </header>
    <div id="container">
        <div id="contents">
            <article class="main">
                {% block body %}{% endblock %}
            </article>
        </div>
    </div>
    <div id="sidebar" class="sidebar">
        <ul class="sideMenuList">
            <li><a href="{{ path('project') }}">案件一覧</a></li>
            <li><a href="{{ path('cost') }}">作業工数一覧</a></li>
            <li><a href="{{ path('systemuser') }}">ユーザー管理</a></li>
        </ul>
        <div class="margin20"></div>
    </div>
</div>
<footer id="footer" class="footer">
    Copyright &copy; ●●●●●● All Rights Reserved.
</footer>
    {% block javascripts %}{% endblock %}
</body>
</html>

